fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
pgvector
sentence-transformers
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
beautifulsoup4
requests
httpx
pypdf
pdf2image
pytesseract
Pillow
wikipedia
pyJWT
email-validator
Wikipedia-API
openai
groq
pre-commit
